.retouchBox {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}
.todoList-box {
  margin: 0 auto;
  width: 50%;
  min-height: 500px;
  background-color: blanchedalmond;
  overflow: visible;
  box-shadow: 1px 0px 4px gray;
}

.input_box {
  min-width: 50%;
  height: 30px;
  border: 3px solid rgb(214, 157, 82);
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  box-shadow: 1px 0px 4px gray;
}

.inputBox {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.inputBtn {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: rgb(214, 157, 82);
  color: white;
}

.listBox {
  margin-top: 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.062);
}

.todo_list {
  width: 100%;
  margin-bottom: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: rgba(248, 208, 156, 0.342);
  box-shadow: 1px 0px 4px gray;
}

.btns {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: rgb(241, 194, 132);
  color: white;
}
